@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

@keyframes Fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes Fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes Fade-half {
  to { opacity: .5; color: #333; }
}

.ReacivlyApp-banner {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 0;
  font-size: 2rem;
  width: 100%;
  z-index: 999999;
  text-align: center;
  font-weight: bold;
  color: #19E7CD;
  text-align: center;
  border-bottom: 1px solid #999999;

  /* after 8 seconds fade the banner more out of view*/
  animation:
    Fade-in 1.5s ease-out,
    Fade-half 0s ease-in 8s forwards;
}
