
.ReacivlyApp-interaction {
  font-size: 2rem;
  z-index: 99999999;
  opacity: .8;
  position: absolute;
}

/* ok so here's the best way to move icons across the screen:

we use two separate movements, one does the path across the screen 
and one does the wavering movement

on top of that, there are multiples chosen randomly by class

*/

.ReacivlyApp-path-1 {
  animation: Path-1 4s linear forwards,
    Osc-1 1.3s ease alternate infinite;
}

.ReacivlyApp-path-2 {
  animation: Path-2 4.25s linear forwards,
    Osc-2 1.7s ease alternate infinite;
}

.ReacivlyApp-path-3 {
  animation: Path-3 5.25s linear forwards,
    Osc-3 1.3s ease alternate infinite;
}

.ReacivlyApp-path-4 {
  animation: Path-4 4s linear forwards,
    Osc-4 1.5s ease alternate infinite;
}

.ReacivlyApp-path-5 {
  animation: Path-5 3.5s linear forwards,
    Osc-2 1.3s ease alternate infinite;
}

.ReacivlyApp-path-6 {
  animation: Path-6 4.5s linear forwards,
    Osc-3 2s ease alternate infinite;
}

@keyframes Path-1 {
  from { top: 100vh; left: 0; }
  to { top: 0vh; left: 100vw; }
}

@keyframes Path-2 {
  from { top: 100vh; left: 10vh; }
  to { top: 10vh; left: 100vw; }
}

@keyframes Path-3 {
  from { top: 100vh; left: 20vh; }
  to { top: 0vh; left: 90vw; }
}

@keyframes Path-4 {
  from { top: 100vh; left: 15vh; }
  to { top: 25vh; left: 100vw; }
}

@keyframes Path-5 {
  from { top: 90vh; left: 0vh; }
  to { top: 0vh; left: 100vw; }
}

@keyframes Path-6 {
  from { top: 100vh; left: 10vh; }
  to { top: 20vh; left: 100vw; }
}

/* now, write out the wavering movement */

@keyframes Osc-1 {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 30px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes Osc-2 {
  0% {
    transform: translate(10px, 0px);
  }
  50% {
    transform: translate(0px, -10px);
  }
  100% {
    transform: translate(10px, 0px);
  }
}

@keyframes Osc-3 {
  0% {
    transform: translate(-10px, 0px);
  }
  40% {
    transform: translate(0px, 20px);
  }
  100% {
    transform: translate(-10px, 0px);
  }
}

@keyframes Osc-4 {
  0% {
    transform: translate(0px, 40px);
  }
  60% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 40px);
  }
}

/* Questions Display Stles */
/* we want them to slide across the screen*/

@keyframes Slide-across {
  from {
    transform: translate(100%, 0px);
  }
  to {
    transform: translate(-100%, 0px);
  }
}

.ReacivlyApp-questions-wrapper {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  bottom: 0;
  font-size: 1.5rem;
  height: 2rem;
  width: 100%;
  z-index: 99999999;
  text-align: left;
  font-weight: bold;
  color: #9B0C72;
  opacity: .8;
  text-align: center;
  border-top: 1px solid #999999;
  overflow: hidden;
  animation: Fade-in 1.5s ease-out;
}

.ReacivlyApp-questions {
  white-space: nowrap;
  z-index: 99999999;
  animation: Slide-across 12s linear infinite;  
}

.ReacivlyApp-question {

}